[Desktop Entry]
Encoding=UTF-8
Name=WallPaperSwitcher
Comment=PeriodicallyChangeWallPaperWithMultiMonitorSupport
Icon=gnome-info
Exec=python3 /home/miles/Documents/GitHub/wall_paper_switcher/wall_paper_switcher/main.py
Terminal=false
Type=Application
Categories=

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=0
